# This File is Created by Tang Dynasty.
set ADCList {"../../../sdc/SparkRoad.adc"}
set SDCList {}
set area_option -packarea
set device_name eagle_s20.db
set end_step opt_gate
set package_name EG4S20BG256
set prj_name {cam}
set run_type syn
set start_step read_design
set top_model_name {test_camera}
