# This File is Created by Tang Dynasty.
set ADCList {"../../../sdc/SparkRoad.adc"}
set SDCList {}
set area_option -packarea
set arr_filter false
set device_name eagle_s20.db
set drHoldFix on
set end_step bitgen
set package_name EG4S20BG256
set parent ../syn_1
set prj_name {cam}
set run_type phy
set start_step opt_place
set top_model_name {test_camera}
